.pahh {
    border: 2px solid red
}

.container-slim {
    width: 70%;
    margin: 0 auto
}

.container-wide {
    width: 80%;
    margin: 0 auto
}

.container-top {
    margin-top: 30px
}

.table {
    margin: 20px auto;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #02172E45;
    border: 1px solid #DDE2E6;
    border-radius: 30px;
  }

  .light-grey-bg {
    background: rgb(235, 239, 244, .3)
  }

  .grey-border {
    border: 1px solid #DDE2E6;
    border-radius: 22px;
  }

  .grey-rounded-border {
    border: 1px solid #02172E30;
    border-radius: 8px;
  }

  .border-none {
    border: none;
  }

  .cursor-pointer {
    cursor: pointer !important;
  }
  
  .primary-btn {
    padding: 8px 10px;
    border: none;
    border-radius: 22px;
    /* width: 180px; */
    font-size: 16px;
    font-weight: 600;
    margin: 0 8px;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    background: #136acd;
    color: #fff;
  }
  
  .secondary-btn {
    padding: 8px 10px;
    border: none;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 8px;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    background: #EBEFF4;
  }

  .primary-text {
    color: #136ACD;
  }

  .outline-none {
    outline: none !important;
  }

  @media screen and (min-width: 200px) and (max-width: 768px) {
    .container-slim {
      width: 95%;
    }
  }