.pahh {
    border: 2px solid red
}

.container-slim {
    width: 70%;
    margin: 0 auto
}

.container-wide {
    width: 80%;
    margin: 0 auto
}

.container-top {
    margin-top: 30px
}

.table {
    margin: 20px auto;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #02172E45;
    border: 1px solid #DDE2E6;
    border-radius: 30px;
  }

  .light-grey-bg {
    background: rgb(235, 239, 244, .3)
  }

  .grey-border {
    border: 1px solid #DDE2E6;
    border-radius: 22px;
  }

  .grey-rounded-border {
    border: 1px solid #02172E30;
    border-radius: 8px;
  }

  .border-none {
    border: none;
  }

  .cursor-pointer {
    cursor: pointer !important;
  }
  
  .primary-btn {
    padding: 8px 10px;
    border: none;
    border-radius: 22px;
    /* width: 180px; */
    font-size: 16px;
    font-weight: 600;
    margin: 0 8px;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    background: #136acd;
    color: #fff;
  }
  
  .secondary-btn {
    padding: 8px 10px;
    border: none;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 8px;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    background: #EBEFF4;
  }

  .primary-text {
    color: #136ACD;
  }

  .outline-none {
    outline: none !important;
  }

  .font-weight-700 {
    font-weight: 700;
  }

  .font-weight-600 {
    font-weight: 600;
  }

  .small-text {
    font-size: 14px;
  }

  #chart {
    width: 48%;
    max-height: 310px;
    border: 0.4000000059604645px solid #dde2e6;
    border-radius: 10px;
  }
  
  #second {
    width: 48%;
    max-height: 310px;
    border: 0.4000000059604645px solid #dde2e6;
    border-radius: 10px;
  }
  
  .table {
    width: 95%;
    margin: 24px auto;
    box-shadow: 0px 3px 6px #2c28281c;
    border-radius: 30px;
  }
  
  .table-top,
  .table-header,
  .table-body .data-row {
    display: flex;
    padding: 4px;
    align-items: center;
  }
  
  .select-all input {
    margin: 0 8px;
  }
  .table-top {
    background: #fff;
    color: #172b4d;
    font-size: 11px;
    border-radius: 22px 22px 0px 0px;
  }
  .table-header {
    background: #f1f3f9;
    color: #8898aa;
    font-size: 11px;
    text-align: left;
    box-shadow: 0px 3px 6px #2c28281c;
  }
  
  .table-header .check {
    width: 22px;
    text-align: center;
  }
  
  .check.data {
    text-align: center;
  }
  
  .table-header p {
    margin: 8px;
  }
  
  .table-body {
    background: #fff;
    color: #172b4d;
  }
  
  .image-con {
    width: 40px;
    margin: auto;
  }
  
  .image-con img {
    width: 100%;
  }
  
  .data-con {
    text-align: center;
  }
  
  .select-all {
    width: 65%;
    padding: 0 10px;
  }
  
  .filter,
  .sort,
  .search {
    width: 15%;
  }
  
  .data-text {
    font-weight: bold;
    font-size: large;
    display: none;
  }

  .tbl-footer-btn {
    background: transparent;
    padding: 4px;
    margin: 4px 8px;
    border-radius: 50%;
    width: 29px;
    border: none;
    border: 1px solid #8898aa80;
    outline: transparent;
  }
  
  .action-icon {
    text-align: center;
  }

  #chart {
    width: 48%;
    max-height: 310px;
    border: 0.4000000059604645px solid #dde2e6;
    border-radius: 10px;
  }
  
  #second {
    width: 48%;
    max-height: 310px;
    border: 0.4000000059604645px solid #dde2e6;
    border-radius: 10px;
  }
  
  .table {
    width: 100%;
    margin: 24px 0;
    box-shadow: 0px 3px 6px #2c28281c;
    border-radius: 30px;
  }
  
  .table-top,
  .table-header,
  .table-body .data-row {
    display: flex;
    padding: 4px;
    align-items: center;
  }
  
  .select-all input {
    margin: 0 8px;
  }
  .table-top {
    background: #fff;
    color: #172b4d;
    font-size: 11px;
    border-radius: 22px 22px 0px 0px;
  }
  .table-header {
    background: #f1f3f9;
    color: #8898aa;
    font-size: 11px;
    text-align: left;
    box-shadow: 0px 3px 6px #2c28281c;
  }
  
  .table-header .check {
    width: 22px;
    text-align: center;
  }
  
  .check.data {
    text-align: center;
  }
  
  .table-header p {
    margin: 8px;
  }
  
  .table-body {
    background: #fff;
    color: #172b4d;
  }
  
  .image-con {
    width: 40px;
    margin: auto;
  }
  
  .image-con img {
    width: 100%;
  }
  
  .data-con {
    text-align: center;
  }
  
  .select-all {
    width: 65%;
    padding: 0 10px;
  }
  
  .filter,
  .sort,
  .search {
    width: 15%;
  }
  
  .data-text {
    font-weight: bold;
    font-size: large;
    display: none;
  }
  
  .picture,
  .firstname,
  .lastname,
  .phone {
    text-align: center;
  }
  
  @media screen and (max-width: 500px) {
    .picture,
    .firstname,
    .lastname,
    .phone {
      width: 100%;
    }
  
    .table-body .check {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin: 10px 0;
    }
  
    .data-text {
      display: inline-block;
    }
  
    .data-row {
      flex-direction: column;
    }
  
    .data-con {
      text-align: center;
      display: flex;
      justify-content: space-between;
    }
  
    .action-icon {
      width: 100%;
      text-align: right;
    }
  
    .table-header {
      display: none;
    }
  
    .boards {
      flex-direction: column;
      align-items: center;
    }
  
    .chart-con {
      flex-direction: column !important;
      align-items: center;
      width: 85% !important;
    }
  
    .chart-con div {
      width: 100% !important;
      margin-top: 10px;
    }
  
    .board {
      width: 85% !important;
    }
  }
  
  @media screen and (min-width: 501px) and (max-width: 768px) {
    .boards {
      flex-direction: column;
      align-items: center;
    }
  
    .chart-con {
      width: 85% !important;
    }
  
    .chart-con div {
      width: 40%;
    }
  
    .board {
      width: 80% !important;
      margin-bottom: 10px;
    }
  }
  
  @media screen and (min-width: 500px) {
    .picture,
    .firstname,
    .lastname,
    .phone {
      width: 19%;
    }
  
    .table-body .check {
      width: 4%;
    }
  
    .action {
      width: 20%;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .my-con {
      flex-direction: column;
    }
  
    .table {
      width: 98%;
      margin: 24px auto;
    }
  
    .summary {
      width: 98%;
      margin: auto;
    }
  }
  
  .row-divider {
    border: 1px solid #0020440a;
    margin: 0;
  }
  
  .table-footer {
    display: flex;
    justify-content: flex-end;
    background: #fff;
    padding: 10px 0;
    border-radius: 0px 0px 22px 22px;
  }

  @media screen and (min-width: 200px) and (max-width: 768px) {
    .container-slim {
      width: 95%;
    }
  }


@media screen and (max-width: 1280px) {
  .small-text {
      font-size: 13px;
  }
}